.our-team {
  background-color: var(--background-our-team);
}

.team-names {
  color: var(--primary-color-title);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;

  margin-top: 30px;
  margin-bottom: 10px;
}

.team-position {
  color: var(--primary-color-paragraph);
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;

  margin-bottom: 16px;
}

.padding-team {
  padding-bottom: 94px;
  padding-top: 94px;
}

.pfoto-team {
  background-color: var(--primary-body-color);
  margin-right: 30px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.pfoto-team:last-child {
  margin-right: 0px;
}
