.padding-list {
  padding-top: 94px;
  padding-bottom: 94px;
}

.list__svg {
  background-color: #f5f4fa;
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
}

.list__svg-antenna {
  width: 65.32px;
  height: 70px;
  margin: 25px 102.34px;
}

.list__svg-clock {
  width: 66.96px;
  height: 70px;
  margin: 25px 101.5px;
}

.list__svg-diagram {
  width: 70px;
  height: 53.69px;
  margin: 33.2px 100px 33.11px 100px;
}

.list__svg-astronaut {
  width: 70px;
  height: 70px;
  margin: 25px 100px;
}

.list__text {
  color: var(--primary-color-paragraph);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  width: 270px;
}

.list__heading:not(:last-child) {
  padding-right: 30px;
}

.list__title {
  color: var(--primary-color-title);
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  margin-bottom: 10px;
}

.photo__title {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;

  margin-bottom: 50px;
}

.padding-photo {
  padding-bottom: 94px;
  position: relative;
}

.photo__margin-img:not(:last-child) {
  margin-right: 30px;
}

.photo__img-info {
  width: 370px;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
  text-align: center;
  padding-top: 27px;
  position: absolute;
  bottom: 94px;
}

.photo__info-img {
  text-transform: uppercase;
  color: #ffffff;
  size: 14px;
  line-height: 16px;
  font-weight: bold;
  letter-spacing: 0.03em;
}
